

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  
}

.search-form {
min-height: 10vh;
display: flex;
justify-content: center;
align-items: center;
}

.search-title{
  display: flex;
  padding-top: 10px;
  font-size: 40px;
  justify-content: center;
  
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  background-color: white;

}

.search-button{
  border: none;
  background-color: rgb(40, 86, 145);
  padding: 10px 20px;
  color: white;

}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}