.recipe{
    border-radius: 10px;
    box-shadow: 0x 5px 20px rgb(44, 42, 42);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
    max-width: 30%;
}

.image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    
}