.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}