.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
    
}

a:hover {
    color: gray;
    text-decoration: none;
    }


*:visited{
    color: white;
    text-decoration: none;
}    